doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto", rel="stylesheet")
    title Kyiv Places app
  body
    nav
      div.left__column
        h1 Just Kyiv &amp; Drink

    section.menu
        h2.menu__title One Click, и ты уже в ...
        menu-section
    rg-map
    section.description
      bars-section
    footer-section
    script(src="bundle.js")
